* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

    height: 100vh;
}

:root {
  --white: #ffffff;
  --purple: #4338ca;
  --primary-font: #171717;
  --light-gray: #525252;

  --primary-hover: #fafafa;

  --secondary-font: #525252;
  --tertiary-font: #737373;
  --secondary-hover: #d1d5db;

  --disabled: #f4f6fa80;

  --purple-hover: #382ea8;

  /* gradient colors */
  /* #f9fafb */
  /* #d2d6db */

  --max-width: 1200px

}

h1 {
  font-size: 3rem;
  font-weight: 500;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

input, select, button {
  border: none;
  font-family: inherit
}

input, select {
  background-color: var(--disabled);
  border-radius: 3px;
  border: .5px solid #dee2e9;
  color: var(--tertiary-font);
  height: 40px !important;
  padding-left: .85rem;
}

button {
  cursor: pointer;
}

.siteContainer {
  padding: 0 .75rem 0 .75rem;
  height: 100vh;
  width: 100%;
}

header, nav, ul {
  align-items: center;
  display: flex;
}

.mainHeader {
  justify-content: space-between;
  height: 70px;
  /* padding: 0 7rem; */
  /* width: 85%; */
  width: 100%;
  max-width: var(--max-width);
  margin:  0 auto;
}


header h4 {
  font-weight: 800;
}

header h4 a {
  color: var(--primary-font);
}

.mainHeader ul {

  gap: 2.5rem;
  margin-left: 6rem;

}

li {
  list-style: none;
}

li a {
  color: var(--tertiary-font);
  font-size: .95rem;
}

li a:hover {
  color: var(--secondary-font);
}

header i {
  color: var(--primary-font);
  cursor: pointer;
  font-size: 1.25rem;

}



.contentSection {
  align-items: center;
  background-color: var(--white);
  border-radius: 15px;
  height: 100%;
}

.contentContainer {
  max-width: var(--max-width);
  margin: 0 auto;
  width: 100%;
}

.btnMain {
  background-color: var(--purple);
  border-radius: 5px;
  color: var(--white);
  cursor: pointer;
  font-size: .9rem;
  font-weight: 300;
  height: 55px;
  letter-spacing: .5px;
  width: 140px;
}

.btnMain:hover {
  background-color: var(--purple-hover);
}

.secondaryBtn {
  background-color: var(--white);
  border-radius: 3px;
  box-shadow: 0 1.5px 5px rgba(0,0,0, .15);
  color: var(--primary-font);
  cursor: pointer;
  font-size: .75rem;
  font-weight: 500;
  height: 35px;
  width: 75px;
}

.secondaryBtn:hover {
  background-color: var(--primary-hover);
  color: var(--secondary-font);
}

.storefrontHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 100%;
}

@media (max-width: 430px) {
  html {
    font-size: 14px;
  }
}